@model PersonalWebSite.Models.ContactRequest

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Contact Me</h3>

@using (Html.BeginForm("ContactMe", "ContactRequest", new { @class = "form-group" }))
{
    @Html.ValidationSummary()

    @Html.LabelFor(m => m.Name)
    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })

    @Html.LabelFor(m => m.Email)
    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })

    @Html.LabelFor(m => m.Subject)
    @Html.TextBoxFor(m => m.Subject, new { @class = "form-control" })

    @Html.LabelFor(m => m.Message)
    @Html.TextAreaFor(m => m.Message, new { @class = "form-control" })

    <button class="btn btn-default">Send</button>
}

