@model  IEnumerable<PersonalWebSite.Models.ContactRequest>

<div class="row">
    <div class="col-md-12">
        <div class="page-header">            
            <h3><small class="pull-right">@Model.Count()</small> Requests </h3>
        </div>

            @foreach (var contact in Model)
            {
            <div class="comments-list">
                <div class="media">
                    <p class="pull-right">@contact.Date.ToString("MM/dd/yyyy")</p>
                    <div class="media-body">
                        <h3 class="media-heading user_name">@contact.Name</h3>
                        <p>Email: @contact.Email</p>
                        <p>Subject: @contact.Subject</p>
                        <p>Message: @contact.Message</p>
                    </div>                                     
                </div>
            </div>
            }
    </div>
</div>



