@{
    ViewBag.Title = "Dariel Urbina";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/fontawesome")
</head>
<body>
    @Html.Partial("~/Views/Shared/NavBar.cshtml")

    <div class="container body-content">
        @RenderBody()
    </div>

    <div class="container footer">
        @Html.Partial("~/Views/Shared/Footer.cshtml")
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

