@{
    ViewBag.Title = "Dariel Urbina";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="navbar navbar-color navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="~/Content/Images/dariel.jfif" class="my-picture" />
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Me", "Index", "Home")</li>
                    <li>@Html.ActionLink("Resume", "Resume", "Home")</li>
                    <li>@Html.ActionLink("Contact Me", "Contact", "ContactRequest")</li>
                    <li>@Html.ActionLink("Requests", "GetContactRequests", "ContactRequest")</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>
    
    <div class="container footer">
        <a href="https://www.linkedin.com/in/dariel-urbina-9a854bb2/" class="fa fa-linkedin" target="_blank"></a>
        <a href="https://github.com/darielurbina0702/" class="fa fa-github" target="_blank"></a>
    </div>        
    


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts",required: false) 
</body>
</html>

