@{
    ViewBag.Title = "Dariel Urbina";
}

<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-133169582-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-133169582-1');
    </script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/bundles/css")
    @Styles.Render("~/Content/fontawesome")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    @Html.Partial("~/Views/Shared/NavBar.cshtml")

    <div class="container body-content">
        @RenderBody()
    </div>

    <div class="container footer">
        @Html.Partial("~/Views/Shared/Footer.cshtml")
    </div>
    
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

